<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">Detail</a></li>
                        <li><a href="{{url_for('project.order', id=project.id)}}">Orders</a></li>
                        <li><a href="{{url_for('project.customer', id=project.id)}}">Customers</a></li>
                        <li><a href="{{url_for('project.member', id=project.id)}}">Members</a></li>
                        <li><a href="{{url_for('project.item', id=project.id)}}">Items</a></li>
                        <li><a href="{{url_for('project.location', id=project.id)}}">Locations</a></li>
                        <li><a href="{{url_for('project.files', id=project.id)}}">Files</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('project.detail_edit', id=project.id) }}" class="btn btn-primary pull-right" role="button">Edit</a>
                                    <span><h3>{{project.name}} #{{project.id}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Sell Order</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.id}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Project Name</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Project Start</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.created_time}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Last Update</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.updated_time}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Description</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.description}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Goal</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.goal}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Agreement</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{project.agreement}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Tag</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">
                                                    <span class="label label-success">Project</span>
                                                    <span class="label label-success">Installed</span>
                                                    <span class="label label-success">Service</span>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}