<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span><h3>Request Form</h3></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal group-border-dashed" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Project ID</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{message.project_id}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Message</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{message.text}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Reply</label>
                                <div class="col-sm-6">
                                    {% if user.role.id == 1 %}
                                    {{ form.reply(class="form-control") }}
                                    {% else %}
                                    <p class="form-control-static">{{message.reply}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% if user.role.id == 1 %}
                            <div class="form-group">
                                <div class="col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}