<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ url_for('message.request_form') }}" class="btn btn-primary pull-right" role="button">Request</a>
                        <span><h3>Request</h3></span>
                    </div>
                    <div class="panel-body">
                        <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                            <table id="table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Request ID</th>
                                        <th>Project ID</th>
                                        <th>Message</th>
                                        <th>Reply</th>
                                        <th>Request by</th>
                                        <!--<th>Created by</th>-->
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for message in messages %}
                                    <tr>
                                        <td><a href="{{ url_for('message.request_edit', id=message.id) }}">{{message.id}}</a></td>
                                        <td>{{message.project_id}}</td>
                                        <td>{{message.text}}</td>
                                        <td>{{message.reply}}</td>
                                        <td>{{message.creator.id}}</td>
                                        <!--<td>{{message.creator.fullname}}</td>-->
                                        <td>{{message.created_time}}</td>                                              
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}