<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('project.get', id=project.id)}}">Detail</a></li>
                        <li><a href="{{url_for('project.order', id=project.id)}}">Orders</a></li>
                        <li class="active"><a href="javascript:void(0);">Customers</a></li>
                        <li><a href="{{url_for('project.member', id=project.id)}}">Members</a></li>
                        <li><a href="{{url_for('project.item', id=project.id)}}">Items</a></li>
                        <li><a href="{{url_for('project.location', id=project.id)}}">Locations</a></li>
                        <li><a href="{{url_for('project.files', id=project.id)}}">Files</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        <div id="customer" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('project.customer_add', id=project.id) }}" class="btn btn-primary pull-right" role="button">Add</a>
                                    <span><span><h3>{{project.name}} #{{project.id}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Location</th>
                                                <th>Telephone</th>
                                                <th>Email</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for customer in customers %}
                                            <tr>
                                                <td>{{customer.fullname}}</td>
                                                <td>{{customer.location}}</td>
                                                <td>{{customer.telephone}}</td>
                                                <td>{{customer.email}}</td>
                                                <td>{{customer.description}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}