<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ url_for('location.edit', id=location.id) }}" class="btn btn-primary btn-space pull-right" role="button">Edit</a>
                        <span><h3>Location</h3></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal group-border-dashed" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Location ID</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.id}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Name</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Type</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.type.value}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Region</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.region.value}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Province</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.province}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>District</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.district}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Zipcode</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.zipcode}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Description</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.description}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Comment</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.comment}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Crated by</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{location.creator.fullname}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}