<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ url_for('location.create') }}" class="btn btn-primary btn-space pull-right" role="button">Add</a>
                        <span><h3>Location</h3></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                <div id="new-search-area" class="text-center"></div>
                            </div>
                        </div>

                        <table id="table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Region</th>
                                    <th>Province</th>
                                    <th>District</th>
                                    <th>Zipcode</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for location in locations %}
                                <tr>
                                    <td><a href="{{ url_for('location.detail', id=location.id) }}">{{location.name}}</a></td>
                                    <td>{{location.type.value}}</td>
                                    <td>{{location.region.value}}</td>
                                    <td>{{location.province}}</td>
                                    <td>{{location.district}}</td>
                                    <td>{{location.zipcode}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}