<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-primary pull-right">Save</button>
                        <span><h3>Project Name</h3></span>
                    </div>
                    <div class="panel-body">
                        <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="input-group xs-mb-15">
                                        <input placeholder="Input Staff ID or Name" class="form-control" type="text">
                                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Search</button></span>
                                    </div>
                                </div>
                            </div>

                            <table id="table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Staff ID</th>
                                        <th>Name</th>
                                        <th>Nickname</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>s000012</td>
                                        <td>Attachai Chaiwanna</td>
                                        <td>Ray</td>
                                        <td>0911111111</td>
                                        <td>Engineer</td>
                                        <td>attachai@gmail.com</td>
                                        <td>
                                            <div class="am-checkbox inline">
                                                <input id="check1" type="checkbox" checked>
                                                <label for="check1"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>s000012</td>
                                        <td>Attachai Chaiwanna</td>
                                        <td>Ray</td>
                                        <td>0911111111</td>
                                        <td>Engineer</td>
                                        <td>attachai@gmail.com</td>
                                        <td>
                                            <div class="am-checkbox inline">
                                                <input id="check2" type="checkbox">
                                                <label for="check2"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}