<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('project.get', id=project.id)}}">Detail</a></li>
                        <li><a href="{{url_for('project.order', id=project.id)}}">Orders</a></li>
                        <li><a href="{{url_for('project.customer', id=project.id)}}">Customers</a></li>
                        <li class="active"><a href="javascript:void(0);">Members</a></li>
                        <li><a href="{{url_for('project.item', id=project.id)}}">Items</a></li>
                        <li><a href="{{url_for('project.location', id=project.id)}}">Locations</a></li>
                        <li><a href="{{url_for('project.files', id=project.id)}}">Files</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        <div id="member" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button type="button" class="btn btn-space btn-primary pull-right">Manage</button>
                                    <span><h3>{{project.name}} #{{project.id}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed">
                                        <table id="table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Staff ID</th>
                                                    <th>Name</th>
                                                    <th>Nickname</th>
                                                    <th>Telephone</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for member in members %}
                                                <tr>
                                                    <td><a href="">{{member.user.id}}</td>
                                                    <td>{{member.user.fullname}}</td>
                                                    <td>{{member.user.nickname}}</td>
                                                    <td>{{member.user.telephone}}</td>
                                                    <td>{{member.user.email}}</td>
                                                    <td>{{member.role.value}}</td>
                                                    <td>{{member.status.value}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script>
$('#table').DataTable( {
    fixedHeader: true
} );
</script>