<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-primary pull-right">Save</button>
                        <span><h3>Project Name</h3></span>
                    </div>
                    <div class="panel-body">
                        <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                            <table id="table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Staff ID</th>
                                        <th>Name</th>
                                        <th>Nickname</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>s000012</td>
                                        <td>Attachai Chaiwanna</td>
                                        <td>Ray</td>
                                        <td>0911111111</td>
                                        <td>attachai@gmail.com</td>
                                        <td>
                                            <select class="form-control" value="xxx">
                                                <option>Role1</option>
                                                <option>Role2</option>
                                                <option>Role3</option>
                                                <option>Role4</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="switch-button switch-button-success">
                                                <input type="checkbox" name="swt1" id="swt1"><span>
                                                <label for="swt1"></label></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>s000012</td>
                                        <td>Attachai Chaiwanna</td>
                                        <td>Ray</td>
                                        <td>0911111111</td>
                                        <td>attachai@gmail.com</td>
                                        <td>
                                            <select class="form-control" value="xxx">
                                                <option>Role1</option>
                                                <option>Role2</option>
                                                <option>Role3</option>
                                                <option>Role4</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="switch-button switch-button-success">
                                                <input type="checkbox" name="swt2" id="swt2" checked><span>
                                                <label for="swt2"></label></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}