<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span><h3>Create Project</h3></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal group-border-dashed" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Project ID</label>
                                <div class="col-sm-6">
                                    {{ form.id(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Project Name</label>
                                <div class="col-sm-6">
                                    {{ form.name(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Goal</label>
                                <div class="col-sm-6">
                                    {{ form.goal(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-6">
                                    {{ form.description(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Agreement</label>
                                <div class="col-sm-6">
                                    {{ form.agreement(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-6">
                                    {{ form.status(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Progress</label>
                                <div class="col-sm-6">
                                    {{ form.progress(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tag</label>
                                <div class="col-sm-6">
                                    <select multiple data-role="tagsinput" name="tag"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}