<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if user.role.id == 1 %}<a href="{{ url_for('project.create') }}" class="btn btn-primary pull-right" role="button">Create</a>{% endif %}
                        <span><h3>Project</h3></span>
                    </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div id="new-search-area" class="text-center"></div>
                                </div>
                            </div>
                            <table id="table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Progress</th>
                                        <th>Last Update</th>
                                        <th>Manager</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in projects %}
                                    <tr>
                                        <td><a href="{{ url_for('project.get', id=project.id) }}">{{project.id}}</a></td>
                                        <td><a href="{{ url_for('project.get', id=project.id) }}">{{project.name}}</a></td>
                                        <td>{{project.progress}}%</td>
                                        <td>{{project.updated_time}}</td>
                                        <td>{{project.creator.fullname}}</td>
                                        <td><span class="{{ project.label_style }}">{{project.status.value}}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}