<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">Detail</a></li>
                        <li><a href="{{url_for('item.item_project', id=item.serial_number)}}">Project</a></li>
                        <li><a href="{{url_for('item.item_location', id=item.serial_number)}}">Location</a></li>
                        <li><a href="{{url_for('item.item_files', id=item.serial_number)}}">Files</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('item.item_detail_edit', id=item.serial_number) }}" class="btn btn-primary btn-space pull-right" role="button">Edit</a>
                                    <span><h3>Item #{{item.serial_number}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Serial Number</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.serial_number}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Box Number</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.box_number}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>IP Address</b></label>
                                            <div class="col-sm-6">
                                                {% for item_ip in item.ip %}
                                                <p class="form-control-static">{{item_ip.ip_address}}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Port</b></label>
                                            <div class="col-sm-6">
                                                {% for item_ip in item.ip %}
                                                <p class="form-control-static">{{item_ip.port}}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>SAP Number</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.sap}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Material Number</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.material_number}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Type</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.material.type.name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Brand</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.material.brand.name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Warranty Type</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.warranty_type.name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Warranty Expire</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.warranty_expire}}</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}