<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">Detail</a></li>
                        <li><a href="{{url_for('item.item_project', id=item.serial_number)}}">Project</a></li>
                        <li><a href="{{url_for('item.item_location', id=item.serial_number)}}">Location</a></li>
                        <li><a href="{{url_for('item.item_files', id=item.serial_number)}}">Files</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span><h3>Item #{{item.serial_number}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed" method="POST">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Serial Number</label>
                                            <div class="col-sm-6">
                                                {{ form.serial_number(class="form-control", disabled=true) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Box Number</label>
                                            <div class="col-sm-6">
                                                {{ form.box_number(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name</label>
                                            <div class="col-sm-6">
                                                {{ form.name(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">SAP Number</label>
                                            <div class="col-sm-6">
                                                {{ form.sap(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Warranty Type</label>
                                            <div class="col-sm-6">
                                                {{ form.warranty_type(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Warranty Expire</label>
                                            <div class="col-sm-6">
                                                {{ form.warranty_expire(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-3">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}