<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('item.item_detail', id=item.serial_number)}}">Detail</a></li>
                        <li><a href="{{url_for('item.item_project', id=item.serial_number)}}">Project</a></li>
                        <li class="active"><a href="javascript:void(0);">Location</a></li>
                        <li><a href="{{url_for('item.item_files', id=item.serial_number)}}">Files</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="member" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span><h3>Item #{{item.serial_number}}</h3></span>
                                </div>
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <div id="new-search-area" class="text-center"></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                                        <table id="table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Status</th>
                                                    <th>Equipment</th>
                                                    <th>Created by</th>
                                                    <th>Created Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for location in locations %}
                                                <tr>
                                                    <td>{{location.location_id}}</td>
                                                    <td>{{location.status.value}}</td>
                                                    <td>{{location.equipment}}</td>
                                                    <td>{{location.creator.fullname}}</td>
                                                    <td>{{location.updated_time}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}