<!-- extend base layout -->
{% extends "base.html" %} 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('item.item_detail', id=item.serial_number)}}">Detail</a></li>
                        <li class="active"><a href="javascript:void(0);">Project</a></li>
                        <li><a href="{{url_for('item.item_location', id=item.serial_number)}}">Location</a></li>
                        <li><a href="{{url_for('item.item_files', id=item.serial_number)}}">Files</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span><h3>Item #{{item.serial_number}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Project</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.order.project.name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Sell Order</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.order.project.id}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Product Order</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.order.number}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Bill of Material</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.order.bill_of_material}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Description</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{item.order.description}}</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}