<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('project.get', id=project.id)}}">Detail</a></li>
                        <li><a href="{{url_for('project.order', id=project.id)}}">Orders</a></li>
                        <li><a href="{{url_for('project.customer', id=project.id)}}">Customers</a></li>
                        <li><a href="{{url_for('project.member', id=project.id)}}">Members</a></li>
                        <li class="active"><a href="javascript:void(0);">Items</a></li>
                        <li><a href="{{url_for('project.location', id=project.id)}}">Locations</a></li>
                        <li><a href="{{url_for('project.files', id=project.id)}}">Files</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        <div id="item" class="tab-pane active cont">
                            <div class="panel-heading">
                                <a href="{{url_for('project.item_add', id=project.id)}}" class="btn btn-primary pull-right" role="button">Add</a>
                                <span><h3>{{project.name}} #{{project.id}}</h3></span>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <div id="new-search-area" class="text-center"></div>
                                        </div>
                                    </div>
                                    <table id="table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Box Serial</th>
                                                <th>Serial Number</th>
                                                <th>Location</th>
                                                <th>IP Address</th>
                                                <th>Material Number</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Equipment</th>
                                                <th>SAP</th>
                                                <th>Product Order</th>
                                                <th>Warranty Type</th>
                                                <th>Warranty Expire</th>
                                                <th>Updated Time</th>
                                                <th>Creator</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                                {% for item in order.items %}
                                                    <tr>
                                                        <td><a href="{{ url_for('item.item_detail', id=item.serial_number) }}">{{item.name}}</a></td>
                                                        <td>{{item.box_number}}</td>
                                                        <td>{{item.serial_number}}</td>
                                                        <td>
                                                            {% if item.latest_item_location.location %}
                                                                {{item.latest_item_location.location.name}}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% for ip in item.ip %}
                                                                {{ip.ip_address}}:{{ip.port}} <br>
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{item.material.number}}</td>
                                                        <td bgcolor="{{item.material.type.cell_color}}" style="color:{{item.material.type.font_color}}">{{item.material.type.name}}</td>
                                                        <td bgcolor="{{item.latest_item_location.cell_color}}">{{item.latest_item_location.status.value}}</td>
                                                        <td>
                                                            {{item.latest_item_location.equipment}}
                                                        </td>
                                                        <td>{{item.sap}}</td>
                                                        <td>{{item.order.number}}</td>
                                                        <td>{{item.warranty_type.name}}</td>
                                                        <td>{{item.warranty_expire}}</td>
                                                        <td>
                                                            {{item.latest_item_location.updated_time}}
                                                        </td>
                                                        <td>
                                                            {% if item.latest_item_location.creator %}
                                                                {{item.latest_item_location.creator.fullname}}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}