<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('project.get', id=project.id)}}">Detail</a></li>
                        <li><a href="{{url_for('project.order', id=project.id)}}">Orders</a></li>
                        <li><a href="{{url_for('project.customer', id=project.id)}}">Customers</a></li>
                        <li><a href="{{url_for('project.member', id=project.id)}}">Members</a></li>
                        <li><a href="{{url_for('project.item', id=project.id)}}">Items</a></li>
                        <li><a href="{{url_for('project.location', id=project.id)}}">Locations</a></li>
                        <li class="active"><a href="javascript:void(0);">Files</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="member" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('project.file_upload', id=project.id) }}" class="btn btn-primary pull-right" role="button">Upload</a>
                                    <span><h3>{{project.name}} #{{project.id}}</h3></span>
                                </div>
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <div id="new-search-area" class="text-center"></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                                        <table id="table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>File Name</th>
                                                    <th>Type</th>
                                                    <th>Uploader</th>
                                                    <th>Uploaded Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for file in files %}
                                                <tr>
                                                    <td><a href="/uploads/{{file.object_name}}">{{file.name}}</a></td>
                                                    <td>{{file.type.value}}</td>
                                                    <td>{{file.uploader.fullname}}</td>
                                                    <td>{{file.uploaded_time}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}