<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('material.index')}}">Material</a></li>
                        <li><a href="{{url_for('material.type_index')}}">Type</a></li>
                        <li><a href="{{url_for('material.os_index')}}">OS</a></li>
                        <li class="active"><a href="javascript:void(0);">Brand</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('material.brand_add') }}" class="btn btn-primary pull-right" role="button">Add</a>
                                    <span><h3>Brand</h3></span>
                                </div>
                                <div class="panel-body">
                                    <table id="table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for brand in brands %}
                                            <tr>
                                                <td><a href="{{ url_for('material.brand_edit', id=brand.id) }}">{{brand.name}}</a></td>
                                                <td>{{brand.description}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}