<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">Member</a></li>
                        <li><a href="{{url_for('role.index')}}">Role</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Member" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% if user.role.id == 1 %}<a href="{{ url_for('user.create') }}" class="btn btn-primary pull-right" role="button">Register</a>{% endif %}
                                    <span><h3>Member</h3></span>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <div id="new-search-area" class="text-center"></div>
                                        </div>
                                    </div>
                                    <table id="table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Staff ID</th>
                                                <th>Name</th>
                                                <th>Nickname</th>
                                                <th>Telephone</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in users %}
                                            <tr>
                                                <td><a href="{{ url_for('user.get', id=user.id) }}">{{user.id}}</a></td>
                                                <td><a href="{{ url_for('user.get', id=user.id) }}">{{user.fullname}}</a></td>
                                                <td>{{user.nickname}}</td>
                                                <td>{{user.telephone}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.role.name}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}