textarea {
    resize: none;
}

textarea.hideborder {
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    padding-left: 0px;
}

textarea.readonly {
    border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
}

.form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}

.bootstrap-tagsinput {
    border-width: 2px;
    border: 2px solid #eaeaea !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border-radius: 0px !important;
    height: 44px;
    font-size: 14px;
}

#new-search-area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}

#new-search-area input {
    width: 50em;
    padding: 5px;
}

.nano-content {
    margin-right: 0px !important;
}