<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('material.index')}}">Material</a></li>
                        <li class="active"><a href="javascript:void(0);">Type</a></li>
                        <li><a href="{{url_for('material.os_index')}}">OS</a></li>
                        <li><a href="{{url_for('material.brand_index')}}">Brand</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="" class="btn btn-primary pull-right" role="button">Add</a>
                                    <span><h3>Type</h3></span>
                                </div>
                                <div class="panel-body">
                                    <table id="table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Font Color</th>
                                                <th>Cell Color</th>
                                                <th>Example</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for type in types %}
                                            <tr>
                                                <td><a href="{{ url_for('material.type_edit', id=type.id) }}">{{type.name}}</a></td>
                                                <td>{{type.description}}</td>
                                                <td>{{type.font_color}}</td>
                                                <td>{{type.cell_color}}</td>
                                                <td bgcolor={{type.cell_color}}><font color={{type.font_color}}>{{type.name}}</font></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}