<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <div class="tab-content">
                        <div id="add" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading"><span><h3>Add Location</h3></span></div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed" method="POST">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Location ID</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Name</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Type</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Region</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Province</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>District</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Zipcode</b></label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Description</b></label>
                                            <div class="col-sm-6">
                                                <textarea rows="6" class="fixwidth form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Comment</b></label>
                                            <div class="col-sm-6">
                                                <textarea rows="6" class="fixwidth form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-10">
                                                <button type="submit" class="btn btn-primary btn-space">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}