<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#detail" data-toggle="tab">Detail</a></li>
                        <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="" class="btn btn-primary pull-right" role="button">Edit</a>
                                    <span><h3>Location Detail</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Location ID</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Name</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Type</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Region</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Province</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>District</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Zipcode</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Description</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Comment</b></label>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div id="equipment" class="tab-pane cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span><h3>Equipment</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                                        <table id="table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Location ID</th>
                                                    <th>Location Name</th>
                                                    <th>Type</th>
                                                    <th>Project ID</th>
                                                    <th>Count Equipment</th>
                                                    <th>Last Update</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--<tr>
                                                    <td><a href="{{ url_for('project.get', id=project.id) }}">{{project.id}}</a></td>
                                                    <td><a href="{{ url_for('project.get', id=project.id) }}">{{project.name}}</a></td>
                                                </tr>-->
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}