<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li><a href="{{url_for('user.index')}}">Member</a></li>
                        <li class="active"><a href="javascript:void(0);">Role</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Role" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('role.create') }}" class="btn btn-primary pull-right" role="button">Add</a>
                                    <span><h3>Role</h3></span>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <div id="new-search-area" class="text-center"></div>
                                        </div>
                                    </div>
                                    <table id="table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Created Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for role in roles %}
                                            <tr>
                                                <td><a href="{{ url_for('role.edit', id=role.id) }}">{{role.name}}</a></td>
                                                <td>{{role.description}}</td>
                                                <td>{{role.created_time}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}