<!-- extend base layout -->
{% extends "base.html" %}


 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ url_for('material.edit',id=material.number) }}" class="btn btn-primary pull-right" role="button">Edit</a>
                        <span><h3>Material</h3></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal group-border-dashed">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Material Number</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.number}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Brand</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.brand.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Series</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.series}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Model</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.model}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Serial length</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.serial_length}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Operation System</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.os}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Type</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.type.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Description</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.description}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Created by</b></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{material.creator.fullname}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}