<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">Material</a></li>
                        <li><a href="{{url_for('material.type_index')}}">Type</a></li>
                        <li><a href="{{url_for('material.os_index')}}">OS</a></li>
                        <li><a href="{{url_for('material.brand_index')}}">Brand</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="{{ url_for('material.create') }}" class="btn btn-primary pull-right" role="button">Add</a>
                                    <span><h3>Material</h3></span>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                            <div id="new-search-area" class="text-center"></div>
                                        </div>
                                    </div>

                                    <table id="table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Material Number</th>
                                                <th>Brand</th>
                                                <th>Series</th>
                                                <th>Model</th>
                                                <th>Type</th>
                                                <th>Operation System</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for material in materials %}
                                            <tr>
                                                <td><a href="{{ url_for('material.get', id=material.number) }}">{{material.number}}</a></td>
                                                <td><a href="{{ url_for('material.get', id=material.number) }}">{{material.brand.name}}</a></td>
                                                <td>{{material.series}}</td>
                                                <td>{{material.model}}</td>
                                                <td>{{material.type.name}}</td>
                                                <td>{{material.os.name}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}