<!-- extend base layout -->
{% extends "base.html" %}
 
{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#detail" data-toggle="tab">Detail</a></li>
                        <li><a href="#project" data-toggle="tab">Project</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="detail" class="tab-pane active cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% if user_current.id == user.id %}<a href="{{ url_for('user.edit',id=user.id) }}" class="btn btn-primary pull-right" role="button">Edit</a>{% endif %}
                                    <span><h3>{{user.firstname}} {{user.lastname}} #{{user.id}}</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal group-border-dashed">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>First name</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.firstname}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Last name</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.lastname}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Nickname</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.nickname}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Gender</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.gender}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Telephone</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.telephone}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Email</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Role</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.role.name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Created by</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.creator.fullname}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"><b>Created time</b></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{user.created_time}}</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div id="project" class="tab-pane cont">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span><h3>Member</h3></span>
                                </div>
                                <div class="panel-body">
                                    <form action="#" novalidate="" class="form-horizontal group-border-dashed">
                                        <table id="table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Project ID</th>
                                                    <th>Name</th>
                                                    <th>Role</th>
                                                    <th>Since</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for project in projects %}
                                                <tr>
                                                    <td>{{project.project.id}}</td>
                                                    <td>{{project.project.name}}</td>
                                                    <td>{{project.role.value}}</td>
                                                    <td>{{project.created_time}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}