<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="am-content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span><h3>{{user.firstname}}{{user.lastname}} #{{user.id}}</h3></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal group-border-dashed" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Username</label>
                                <div class="col-sm-6">
                                    {{ form.username(class="form-control", disabled=true) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First name</label>
                                <div class="col-sm-6">
                                    {{ form.firstname(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last name</label>
                                <div class="col-sm-6">
                                    {{ form.lastname(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nickname</label>
                                <div class="col-sm-6">
                                    {{ form.nickname(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Telephone</label>
                                <div class="col-sm-6">
                                    {{ form.telephone(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    {{ form.email(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Role</label>
                                <div class="col-sm-6">
                                    {% if user.role.id == 1 %}
                                    {{ form.role(class="form-control") }}
                                    {% else %}
                                    {{ form.role(class="form-control", disabled=true) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}