<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}Inventory Management System | Not Found{% endblock %}

{% block body %}
  <body class="am-splash-screen">
    <div class="am-wrapper am-error am-error-404">
      <div class="am-content">
        <div class="main-content">
          <div class="error-container">
            <div class="error-image"></div>
            <div class="error-number">404</div>
            <p class="error-description">The page you are looking for might have been removed.</p>
            <div class="error-goback-text">Would you like to go <a href="{{url_for('project.index')}}">home</a>?</div>
            <div class="footer">&copy; 2017 Inventory Management System</div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}