{%- extends "bootstrap/base.html" %}

{% block title %}
    {% if page == 'project' %}Project{% endif %}
    {% if page == 'user' %}User{% endif %}
    {% if page == 'material' %}Material{% endif %}
    {% if page == 'location' %}Location{% endif %}
    {% if page == 'search' %}Search{% endif %}
    {% if page == 'request' %}Request{% endif %}
     | Inventory Management
{% endblock %} 

{% block head %}
    {{super()}}
{% endblock %}

{% block styles -%}
    {{super()}}
    {% include 'style.html' %}
{% endblock %}



{% block body %}
    <div class="am-wrapper am-fixed-sidebar">
        {% include 'nav.html' %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
        {{super()}}
        {% include 'script.html' %}
        <script>
            $(() => {
                App.init();
                $("table").DataTable({
                    "searching": true,
                    // "responsive": true,
                    "pageLength": 50,
                    initComplete : function() {
                        $("#table_filter").detach().appendTo('#new-search-area');
                    }
                });
            });
        </script>
    {% endblock %}
    <div class="am-scroll-top"></div>

{% endblock %}