<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}Inventory Management System | Login Page{% endblock %}

{% block body %}
<body class="am-splash-screen">
  <div class="main-content">
    <div class="login-container">
      <div class="panel-default">
        <div class="panel-heading"><img src="{{url_for('static', filename='img/logo-full-retina.png')}}" alt="logo" width="150px" height="39px">
          <span>Inventory for network device</span>
        </div>
        <div class="panel-body">
          <form action="{{ url_for('authentication.login') }}" method="post" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <div class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                {{ form.username(class_="form-control") }}
              </div>
            </div>
            <div class="form-group">
              <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                {{ form.password(class_="form-control") }}
              </div>
            </div>
            <div class="form-group login-submit">
              <button type="submit" class="btn btn-primary btn-lg">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}