<!--  Header  -->
<nav class="navbar navbar-default navbar-fixed-top am-top-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="page-title"><span>Blank Page</span></div><a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a>
      <a
        href="{{url_for('project.index')}}" class="navbar-brand"></a>
    </div>
    <div id="am-navbar-collapse" class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right am-user-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Hello {{ current_user.firstname }} {{ current_user.lastname }} <span class="angle-down s7-angle-down"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="{{url_for('user.profile')}}"> <span class="icon s7-user"></span>My profile</a>
            </li>
            <li>
              <a href="{{ url_for('authentication.logout') }}"> <span class="icon s7-power"></span>Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--  Left Sidebar  -->
<div class="am-left-sidebar">
  <div class="content">
    <div class="am-logo"></div>
    <ul id="navigation" class="sidebar-elements">
      <li{% if page=='project' %} class="active" {% endif %} class="parent"><a href="{{url_for('project.index')}}"><i class="icon s7-note2"></i><span>Project</span></a></li>
      <li{% if page=='user' %} class="active" {% endif %} class="parent"><a href="{{url_for('user.index')}}"><i class="icon s7-users"></i><span>User</span></a></li>
      <li{% if page=='material' %} class="active" {% endif %} class="parent"><a href="{{url_for('material.index')}}"><i class="icon s7-box2"></i><span>Material</span></a></li>
      <li{% if page=='location' %} class="active" {% endif %} class="parent"><a href="{{url_for('location.index')}}"><i class="icon s7-portfolio"></i><span>Location</span></a></li>
      <!--<li{% if page == 'search' %} class="active"{% endif %} class="parent"><a href=""><i class="icon s7-search"></i><span>Search</span></a></li>-->
      <li{% if page=='request' %} class="active" {% endif %} class="parent"><a href="{{url_for('message.index')}}"><i class="icon s7-headphones"></i><span>Request</span></a></li>
    </ul>
  </div>
</div>