<script src="{{url_for('static', filename='lib/jquery-nanoscroller/js/jquery.nanoscroller.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/moment/js/moment.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{{url_for('static', filename='lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js')}}"></script>
<script src="{{url_for('static', filename='lib/datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>

<script src="{{url_for('static', filename='js/main.min.js')}}"></script>

<!-- DataTables -->
<script src="{{url_for('static', filename='lib/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/DataTables/DataTables-1.10.15/js/dataTables.bootstrap.min.js')}}"></script>