<!--  Main CSS  -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">

<!--  Icon CSS  -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/stroke-7/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/SmartWizard/css/smart_wizard_theme_arrows.min.css')}}">

<!--  Theme CSS  -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/themes/theme-twilight.css')}}">

<!--  Plugin CSS  -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/select2.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/SmartWizard/css/smart_wizard.min.css')}}">


<!--
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/datetimepicker/css/bootstrap-datetimepicker.min.css')}}">
-->




<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/DataTables/datatables.min.css')}}" />